<!DOCTYPE HTML>
<HTML lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- caja de iconos-->
		<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
		<!-- CSS -->
		<link rel="stylesheet" href="css/menuStyle.css">
		
		<title>Sistema Los YuYitos</title>		
		
	</head>
	<body>
		<nav>
		<ul>
		<li><a href="GestionUsuario.html">Gestion de Usuario</a></li>
		<li><a href="GestionEmpleado.html">Gestion de Empleado</a></li>
		<li><a href="GestionCliente.html">Gestion de Cliente</a></li>
		<li><a href="GestionProveedor.html">Gestion de Proveedor</a></li>
		<li><a href="GestionPedido.html">Gestion de Pedido</a></li>
		<li><a href="GestionProducto.html">Gestion de Producto</a></li>
		<li><a href="GestionVentas.html">Gestion de Ventas</a></li>
		<li><a href="GestionFiado.html">Gestion de Fiado</a></li>
		</ul>
		</nav>	
		<!-- JS -->
		<script src="js/menuscript.js"></script>
	
	</body>
</HTML>